.nav__container {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 0px 100px 0 100px;

    .nav__link ul {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;

        span {
          background-color: red;
          position: absolute;
          padding: 1px;
          border-radius: 40%;
          margin: -11px -4px 1px 2px;
          font-size: 13pt;
        }
        a {
            text-decoration: none;
            display: inline-block;
            padding: 1rem;
            color: #000;
          }

          a.active {
            background-color: #eee;
          }
      }
    
   
}
