.cart__container {
    margin: 80px 80px;
    table {
        width: 100%;
        text-align: center;
        th {
            border: 1px solid;
            background-color: gray;
        }
        td {
            border: 1px solid;
        }
        img {
            width: 80px;
        }  
    }
    .total__price {
        display: flex;
        justify-content: space-between;
    }
}